body
{
    width: 1300px;
    padding-left: 20px;
}

svg
{
    width: 600px;
    height: 400px;
}

.shadow
{
    border: 1px solid #DDD;
    border-spacing: 3px;
    -webkit-box-shadow: 5px 5px 20px #AAA;
       -moz-box-shadow: 5px 5px 20px #AAA;
            box-shadow: 5px 5px 20px #AAA;

}

.bar,
.circle
{
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 650px;
    height: 450px;
}

.bar svg
{
    padding-top: 15px;
}

.bar div.nvtooltip { margin-top: 30px; }

.graphcontainer
{
    display: flex;
}
